.item {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
}

.number {
    font-size: 1.5rem;
    font-weight: bold;
}

.container h3 {
    margin: 0;
}

.container h4 {
    margin: 0;
    font-weight: normal;
    opacity: .7;
}