.cookieClicker {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  width: 280px;
  display: flex;              
  flex-direction: column;
  align-items: center;    
  gap: 10px;    
}

.cookie {
  border: none;
  background: #374151;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.cookie img {
  width: 180px;
  height: auto;
  display: block;
}

.buyButton {
  margin-top: 10px;
}